@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap";
* {
  margin: 0 auto;
  padding: 0 auto;
  user-select: none;
  scroll-behavior: smooth;
}

.form-control {
  border-bottom: none !important;
}

body {
  background: #FFF;
  animation: 1s fadeIn ease;
  overflow-x: hidden;
}

.coming-soon {
  margin-top: 15rem;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
.coming-soon h1 {
  font-size: 50px;
}

.overlay {
  overflow: auto;
  display: none;
  width: 100%;
  height: 100vh;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  position: fixed;
  box-sizing: border-box;
  z-index: 999999;
}
.overlay .head-overlay {
  padding: 10px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
.overlay .head-overlay .btn-close {
  float: right;
  margin-top: -2rem;
  padding: 12px 40px;
  background: #420FE7;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  border-radius: 50px;
}
.overlay .wrapper-overlay {
  display: flex;
  margin-top: 8rem;
}
.overlay .wrapper-overlay .column-overlay {
  width: 100%;
  padding: 20px;
}
.overlay .wrapper-overlay .column-overlay h1 {
  max-width: 300px;
  margin-left: 0;
}
.overlay .wrapper-overlay .column-overlay .input-box input {
  width: 100%;
  padding: 25px 0 24px;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid #420FE7;
}
.overlay .wrapper-overlay .column-overlay .input-box .input-file {
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #dcdcdc;
  padding: 25px 0 24px;
  transition: 0.4s ease;
  background: transparent;
  box-sizing: border-box;
}
.overlay .wrapper-overlay .column-overlay .input-box .input-file .icon-upload {
  float: right;
  font-size: 30px;
}
.overlay .wrapper-overlay .column-overlay .input-box .input-file label {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}
.overlay .wrapper-overlay .column-overlay .input-box .input-file:hover {
  color: #420FE7;
  border-bottom: 1px solid #420FE7;
}
.overlay .wrapper-overlay .column-overlay .input-box:nth-child(2),
.overlay .wrapper-overlay .column-overlay .input-box:nth-child(3) {
  margin-top: 3rem;
}
.overlay .wrapper-overlay .column-overlay .textarea-box {
  margin-top: 3rem;
}
.overlay .wrapper-overlay .column-overlay .textarea-box textarea {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  resize: none;
  width: 100%;
  height: 300px;
  outline: none;
  border: none;
  border-bottom: 1px solid #420FE7;
}
.overlay .wrapper-overlay .column-overlay:nth-child(1) {
  max-width: 400px;
  width: 100%;
}
.overlay .btn-submit {
  margin-top: -2rem;
  padding: 14px;
  width: 100%;
  background: #420FE7;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  border-radius: 50px;
}

.preloader {
  width: 100%;
  position: fixed;
  height: 100vh;
  z-index: 999999999;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  text-align: center;
}
.preloader h2 {
  color: #333;
  font-size: 80px;
  margin-top: 20rem;
}
.preloader b {
  color: #420FE7;
}
.preloader .wrapper-progressbar {
  max-width: 400px;
  width: 100%;
}
.preloader .wrapper-progressbar .progress-bar {
  width: 100%;
  background: #dcdcdc;
}
.preloader .wrapper-progressbar .progress-bar .bars-progress {
  width: 5%;
  transition: 0.4s ease;
  height: 10px;
  background: #420FE7;
  margin-left: 0;
}

.header {
  padding: 20px;
  width: 100%;
  position: fixed;
  transition: 0.3s ease;
  background: #FFF;
  z-index: 999;
}

.bg-head {
  border-bottom: 1px solid #dcdcdc;
  animation: 0.3s slideInDown cubic-bezier(0.17, 0.67, 0.83, 0.67);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.container-head {
  max-width: 1200px;
}

.title-brand {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.title-brand h1 {
  font-size: 25px;
  text-decoration: none;
  color: #333;
}
.title-brand b {
  color: #420FE7;
}

.menu-bar {
  float: right;
  margin-top: -2rem;
}

a {
  text-decoration: none;
}

.router-link-active {
  color: #420FE7;
}

.box-v2 {
  background: #FFF;
  text-align: center;
  padding: 10px;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.menu-bar a {
  color: #333;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  padding: 1.5rem;
  text-decoration: none;
}

.menu-bar a:hover {
  color: #420FE7;
}

.container {
  max-width: 1200px;
}

.flex-1 {
  display: flex;
}

.column-flex-1 {
  width: 100%;
}
.column-flex-1 .column-body h2 {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 45px;
}
.column-flex-1 .column-body p {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  color: grey;
}
.column-flex-1 .column-body b {
  color: #420FE7;
}
.column-flex-1 lottie-player {
  max-width: 600px;
  width: 100%;
  margin-top: -7rem;
}

.box-v1 {
  margin-top: 10rem;
  padding: 10px;
}

.btn {
  padding: 15px 40px;
  border: none;
  font-weight: 600;
  outline: none;
  font-size: 15px;
  transition: 0.2s ease;
  -webkit-font-smoothing: antialiased;
  font-family: "Quicksand", sans-serif;
}

button {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.btn-radius {
  border-radius: 50px;
}

.btn-primary {
  background: #420FE7;
  color: #fff;
}

.right-button {
  margin-left: 10px;
}

.btn:active {
  transform: translateY(5px);
}

.btn-primary:active {
  box-shadow: 0 3px 10px rgba(66, 15, 231, 0.4);
}

.btn-default:active {
  box-shadow: 0 3px 10px #EFEFEF;
}

.flex-2 .column-flex-2 h1 {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
}
.flex-2 .column-flex-2 h2 {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #420FE7;
  font-size: 15px;
}

.chips {
  background: rgba(66, 15, 231, 0.2);
  width: 150px;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  color: rgba(66, 15, 231, 0.7);
  padding: 15px 10px;
}

.wrapper-card {
  margin-top: 0rem;
}

.card {
  display: inline-block;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5rem;
}
.card .title-card {
  box-sizing: border-box;
  margin-top: 2rem;
}
.card .title-card h3 {
  color: #333;
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.card .card-content {
  box-sizing: border-box;
}
.card .card-content p {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: grey;
  box-sizing: border-box;
}
.card .card-icons {
  font-size: 30px;
  width: 45px;
  padding: 8px 10px;
  border-radius: 100px;
  background: rgba(45, 186, 96, 0.2);
  color: #2dba60;
}
.card .card-icons ion-icon {
  margin-top: 10px;
}

.card:nth-child(2) .card-icons {
  background: rgba(66, 15, 231, 0.2);
  color: rgba(66, 15, 231, 0.7);
}

.card:nth-child(3) .card-icons {
  background: rgba(255, 165, 0, 0.2);
  color: orange;
}

.card:nth-child(4) .card-icons {
  background: rgba(255, 46, 85, 0.2);
  color: #FF2E55;
}

.menu {
  background-color: transparent;
  border: none;
  display: none;
  float: right;
  font-size: 40px;
  margin-top: -38px;
  margin-right: 40px;
  outline: none;
  cursor: pointer;
}

.box-v3 {
  background: #F6F8FD;
  padding: 10px;
  margin-top: 5rem;
}
.box-v3 .container .wrapper-projects {
  margin-top: 2rem;
}
.box-v3 .container .wrapper-projects .item-carousel {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 20px;
}
.box-v3 .container .wrapper-projects .item-carousel h2 {
  color: #333;
}
.box-v3 .container .wrapper-projects .item-carousel p {
  color: grey;
}
.box-v3 .container .wrapper-projects .item-carousel img {
  border-radius: 10px;
  max-width: 400px;
}

.box-v3 {
  text-align: center;
}
.box-v3 .title-box {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.box-v3 .title-box h2 {
  color: #420FE7;
  font-size: 15px;
}
.box-v3 .title-box h1 {
  color: #333;
}
.box-v3 .lines {
  margin-top: 10px;
  width: 100px;
  height: 3px;
  background: #420FE7;
}
.box-v3 .project-image {
  background: #dcdcdc;
  padding: 10px;
  text-align: center;
  margin-top: 3rem;
  height: 300px;
}

.lines {
  margin-top: 10px;
  width: 100px;
  height: 3px;
  background: #420FE7;
}

.floating-bar {
  padding: 10px;
  background: #420FE7;
  width: 68px;
  position: fixed;
  right: 20px;
  transition: 0.3s ease;
  z-index: 999;
  bottom: 30px;
  border: none;
  outline: none;
  display: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  color: #fff;
  animation: 0.4s bounceInUp ease;
  border-radius: 100px;
  font-size: 28px;
}
.floating-bar ion-icon {
  margin-top: 10px;
}

.floating-bar:active {
  transform: translateY(5px);
}

.owl-theme .owl-dots {
  margin-top: 3rem !important;
}

.owl-theme .owl-dots button.owl-dot {
  width: 30px;
  height: 15px;
  -webkit-tap-highlight-color: transparent;
  border-radius: 50px;
  display: inline-block;
  background: transparent;
  margin: 0 3px;
  border: 1px solid #420FE7;
}

.owl-theme .owl-dots button.owl-dot.active {
  background-color: #420FE7;
  outline: none;
}

.owl-theme .owl-dots button.owl-dot span {
  background: transparent !important;
}

.box-v3 .box-body-v3 {
  padding: 30px;
}

.box-v4 {
  margin-top: 5rem;
  padding: 20px;
}
.box-v4 .wrap-counter {
  display: flex;
}
.box-v4 .wrap-counter .card-count {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.box-v4 .wrap-counter .card-count .total-count h2 {
  color: #420FE7;
  font-size: 70px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.box-v4 .wrap-counter .card-count p {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: grey;
}

@property --numb {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
.num1 {
  transition: --numb 5s;
  counter-set: numb var(--numb);
  font: 800 40px system-ui;
}

.num1::after {
  content: counter(numb);
}

.num1 {
  --numb: 34;
}

@property --numr {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
.num2 {
  transition: --numr 5s;
  counter-set: numr var(--numr);
  font: 800 40px system-ui;
}

.num2::after {
  content: counter(numr);
}

.num2 {
  --numr: 40;
}

@property --nums {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
.num3 {
  transition: --nums 5s;
  counter-set: nums var(--nums);
  font: 800 40px system-ui;
}

.num3::after {
  content: counter(nums);
}

.num3 {
  --nums: 4;
}

.footer {
  margin-top: 4.5rem;
  background: #420FE7;
  padding: 20px;
  box-sizing: border-box;
}
.footer .footer-wrapper {
  padding: 10px;
  display: flex;
}
.footer .footer-wrapper .interested-column-footer {
  margin-top: 4rem;
  width: 100%;
  height: 300px;
}
.footer .footer-wrapper .interested-column-footer h2 {
  max-width: 400px;
  width: 100%;
  margin-left: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 40px;
}
.footer .footer-wrapper .interested-column-footer p {
  max-width: 400px;
  width: 100%;
  margin-left: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.footer .footer-wrapper .interested-column-footer .btn-footer-wrap {
  margin-top: 5rem;
  text-align: center;
}
.footer .footer-wrapper .interested-column-footer .btn-footer-wrap p {
  margin-left: auto;
}
.footer .footer-wrapper .interested-column-footer .btn-footer-wrap .btn-footer {
  background: #fff;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #420FE7;
  font-size: 18px;
  border-radius: 50px;
  border: 1px solid #fff;
  max-width: 300px;
  width: 100%;
  transition: 0.4s easein;
  font-weight: 600;
  padding: 20px 50px;
}
.footer .footer-wrapper .interested-column-footer .btn-footer-wrap .btn-footer:hover {
  box-shadow: 0px 0px 10px rgba(225, 225, 225, 0.5);
}
.footer .footer-wrapper .interested-column-footer .btn-footer-wrap .btn-footer:active {
  transform: translateY(5px);
}
.footer .footer-wrapper .footer-column {
  width: 100%;
  box-sizing: border-box;
}
.footer .footer-wrapper .footer-column h2 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.footer .footer-wrapper .footer-column h3 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.footer .footer-wrapper .footer-column a {
  text-decoration: none;
  color: #fff;
  margin-left: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.footer .footer-wrapper .footer-column a ion-icon {
  color: #fff;
  font-size: 20px;
}
.footer .footer-wrapper .footer-column a span {
  margin-top: -5rem;
  margin-left: 10px;
}
.footer .copyright-footer {
  text-align: center;
  margin-top: 5rem;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

.svg-wrapper svg {
  width: 100%;
  position: absolute;
  margin-top: -5rem;
  overflow: visible;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count: infinite;
  fill: #420FE7;
}

.drop {
  fill: #420FE7;
  xfill: #99000055;
  animation: drop 8.2s linear infinite normal;
  stroke: var(#420FE7);
  stroke-width: 0.5;
  transform: translateY(25px);
  transform-box: fill-box;
  transform-origin: 50% 100%;
}

.drop2 {
  animation-delay: 8s;
  animation-duration: 8s;
}

.drop3 {
  animation-delay: -7s;
  animation-duration: 8.4s;
}

.drop4 {
  animation-delay: 6.7s;
}

.drop5 {
  animation-delay: 7.7s;
  animation-duration: 8.1s;
}

.drop6 {
  animation-delay: -7.1s;
  animation-duration: 8.2s;
}

.gooeff {
  filter: url(#goo);
}

#wave2 {
  animation-duration: 10s;
  animation-direction: reverse;
  opacity: 0.6;
}

#wave3 {
  animation-duration: 12s;
  opacity: 0.3;
}

@keyframes drop {
  0% {
    transform: translateY(25px);
  }
  30% {
    transform: translateY(-10px) scale(0.1);
  }
  30.001% {
    transform: translateY(25px) scale(1);
  }
  70% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-10px) scale(0.1);
  }
}
@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}
.boxab-v1 .wrapper-box-ab-v1 {
  color: #333;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-top: 10rem;
}
.boxab-v1 .wrapper-box-ab-v1 h1 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 70px;
  margin-left: 0;
  max-width: 800px;
  width: 100%;
}
.boxab-v1 .wrapper-box-ab-v1 h1 b {
  color: #420FE7;
  border-bottom: 3px solid #420FE7;
}
.boxab-v1 .wrapper-box-ab-v1 .flex-ab-v1 {
  display: flex;
  box-sizing: border-box;
}
.boxab-v1 .wrapper-box-ab-v1 .flex-ab-v1 .column-ab-1 {
  width: 100%;
  box-sizing: border-box;
}
.boxab-v1 .wrapper-box-ab-v1 .flex-ab-v1 .column-ab-1 p {
  font-size: 20px;
}
.boxab-v1 .image-frame-community {
  height: 40vw;
  background: url(../image/background/pexels-cottonbro-6804613.jpg);
  background-size: cover;
  background-position: center;
  max-width: 95vw;
  width: 100%;
  margin-left: 0;
  border-top-right-radius: 100px;
}

.about {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  color: #333;
}
.about .container .tool-skill {
  margin-top: 15rem;
}
.about .container .tool-skill .title-box-skill {
  text-align: center;
}
.about .container .tool-skill .title-box-skill h1 {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 30px;
}
.about .container .tool-skill .title-box-skill h1 span {
  transform: translateY(50%);
}
.about .container .tool-skill .wrapper-icon-technology .wrapper-icon-brand {
  box-sizing: border-box;
}
.about .container .tool-skill .wrapper-icon-technology .wrapper-icon-brand .item-icon {
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 20px;
}
.about .container .tool-skill .wrapper-icon-technology .wrapper-icon-brand .item-icon img {
  max-width: 80px;
  width: 100%;
  border-radius: 8px;
}

.projects .boxp-v1 {
  text-align: center;
  margin-top: 5rem;
  padding: 20px;
}
.projects .boxp-v1 h1 {
  color: #333;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.projects .boxp-v1 .lines {
  margin-top: 10px;
  width: 100px;
  height: 3px;
  background: #420FE7;
}
.projects .boxp-v1 img {
  margin-top: 10px;
  width: 100%;
}

#notfoundpage {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  text-align: center;
}
#notfoundpage h1 {
  font-size: 50px;
}
#notfoundpage h2 {
  font-size: 15px;
  font-weight: 500;
}
#notfoundpage lottie-player {
  max-width: 400px;
  width: 100%;
  margin-top: 5rem;
}

.menu-bar-mobile {
  display: none;
}

@media only screen and (max-width: 780px) {
  .overlay {
    box-sizing: border-box;
  }
  .overlay .wrapper-overlay {
    display: block;
    box-sizing: border-box;
  }
  .overlay .wrapper-overlay .column-overlay {
    box-sizing: border-box;
    display: block;
  }
  .overlay .wrapper-overlay .column-overlay:nth-child(1) {
    max-width: 100% !important;
    box-sizing: border-box;
  }
  .overlay .wrapper-overlay .column-overlay:nth-child(1) h2 {
    box-sizing: border-box;
    max-width: 100% !important;
  }

  .boxab-v1 .wrapper-box-ab-v1 {
    padding: 20px;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-top: 10rem;
  }
  .boxab-v1 .wrapper-box-ab-v1 h1 {
    color: #333;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 28px;
    margin-left: 0;
    max-width: 800px;
    width: 100%;
  }
  .boxab-v1 .wrapper-box-ab-v1 .flex-ab-v1 {
    display: block;
    box-sizing: border-box;
  }
  .boxab-v1 .wrapper-box-ab-v1 .flex-ab-v1 .column-ab-1 {
    display: block;
    margin-top: 2rem;
    width: 100%;
    box-sizing: border-box;
  }
  .boxab-v1 .image-frame-community {
    height: 50vw;
    background: url(../image/background/pexels-cottonbro-6804613.jpg);
    background-size: cover;
  }

  .open {
    display: block;
  }

  .menu-bar {
    display: none;
  }

  .menu-bar-mobile {
    background: #fff;
    width: 100%;
    height: 100vh;
    display: none;
    margin-top: 0;
  }
  .menu-bar-mobile .menu-wrap {
    margin-top: 5rem;
  }
  .menu-bar-mobile .menu-wrap a {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
    text-align: center;
    font-size: 20px;
    display: block;
    margin-top: 5rem;
  }

  .header {
    padding: 15px;
  }

  .menu {
    display: block;
  }

  .flex-1 {
    display: block;
  }

  .box-v1 {
    height: auto;
  }

  .box-v2 {
    height: auto;
  }

  .box-v3 {
    height: auto;
  }

  .box-v3 {
    margin-top: 10rem;
  }

  .flex-1 .column-flex-1 {
    text-align: center;
  }
  .flex-1 .column-flex-1 lottie-player {
    margin-top: 0;
  }
  .flex-1 section .footer-container {
    max-width: 1200px;
    text-align: center;
  }

  .wrap-counter {
    display: block !important;
  }
  .wrap-counter .card-count {
    display: block;
    margin-top: 2rem;
  }

  .footer {
    margin-top: 2rem;
  }
  .footer .footer-wrapper {
    display: block;
  }
  .footer .footer-wrapper .interested-column-footer {
    text-align: center;
    height: auto;
  }
  .footer .footer-wrapper .interested-column-footer h2 {
    margin-left: auto;
  }
  .footer .footer-wrapper .interested-column-footer p {
    margin-left: auto;
  }
  .footer .footer-wrapper .interested-column-footer .btn-footer-wrap {
    margin-top: 0rem;
  }
  .footer .footer-wrapper .interested-column-footer .btn-footer-wrap .btn-footer {
    width: 100%;
    box-sizing: border-box;
  }
  .footer .footer-wrapper .footer-column {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 582px) and (min-width: 489px) {
  .footer {
    margin-top: 0rem;
  }
}
@media only screen and (max-width: 488px) and (min-width: 444px) {
  .footer {
    margin-top: -2rem;
  }
}
@media only screen and (max-width: 441px) and (min-width: 318px) {
  .flex-2 .column-flex-2 h1 {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
  }
  .flex-2 .column-flex-2 h2 {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #420FE7;
    font-size: 15px;
  }

  .footer {
    margin-top: -2rem;
  }
}
@media only screen and (max-width: 374px) and (min-width: 262px) {
  .flex-2 .column-flex-2 h1 {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
  }
  .flex-2 .column-flex-2 h2 {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #420FE7;
    font-size: 15px;
  }

  .footer {
    margin-top: -4rem;
  }
}
@media only screen and (max-width: 320px) {
  .footer {
    margin-top: -4rem;
  }
}

/*# sourceMappingURL=main.css.map */
