.detail-product {
  .box-v1 {
    box-sizing: border-box;
    .wrapper-video {
      padding: 10px;
      margin-top: 3rem;
      #player {
        width: 100%;
        height: 500px;
        box-sizing: border-box;
      }
      button[type="button"] {
        &:active {
          transform: none;
        }
      }
    }
  }
  .box-v2{
    height: 100vh;
    margin-top: 2rem;
    .grid-container{
      border-top: 1px solid #dcdcdc;
      border-bottom: 1px solid #dcdcdc;
      display: flex;
      gap: 20px;
      padding: 10px;
      .col-grid{
        width: 100%;
        padding: 20px;
        
        .profile-wrapper{
          display: flex;
          max-width: 500px;
          font-family: $poppins;
          .avatar-profile{
            img{
              border-radius: 50%;
              max-width: 80px;
              width: 80px;
              height: 80px;
              object-fit: cover;
            }
          }
          .profile-info{
            label{
              font-family: $poppins;
               padding: 10px;
               .text{
                 margin-left: 10px;
               }
               .map-icon{
                 color: grey;
               }
               .star-icon{
                 color: gold;
               }
            }
            .insight-wrap{
              margin-top: 2rem;
              width: 100%;
              box-sizing: border-box;
              display: flex;
              text-align: left;
            }
          }
        }
        &:nth-child(2){
          border-left: 1px solid #dcdcdc;
        }
      }
    }
    #tab-on-dp{
      margin-top: 2rem;
      #Tabnav{
        width: 100%;
        text-align: left;
        ul{
          list-style: none;
          display: flex;
          padding: 0;
          margin-left: 0;
          text-align: left;
          max-width: 400px;
          width: 100%;
          box-sizing: border-box;
          li{
            box-sizing: border-box;
            max-width: 300px;
            text-align: left;
          }
          a{
            font-size: 20px;
            font-family: $poppins;
            padding: 10px;
          }
          .active{
            font-weight: bold;
            border-bottom: 1px solid #000;
          }
        
        }
       .line{
          background-color: #dcdcdc;
          width: 100%;
          box-sizing: border-box;
          height: 2px;
        }
        .tab{
          margin-top: 2rem;
          width: 100%;
          box-sizing: border-box;
          .wrapper-collection{
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 20px;
            grid-row: 20px;
            .col-collect{
              max-width: 380px;
              width: 100%;
              border: 1px solid  #dcdcdc;
              border-radius: 8px;
              box-sizing: border-box;
              margin-left: 0;
              img{
                width: 100%;
                box-sizing: border-box;
                object-fit: cover;
                height: 480px;
                filter: brightness(0.5);
              }
              .btn-play{
                font-size: 30px;
                padding: 20px;
                width: 80px;
                border-radius: 100%;
                margin-left: 9rem;
                margin-top: 13rem;
                z-index: 999;
                position: absolute;
                border: none;
                background-color: $primary;
                color: $secondary;
              }
              .body-collect{
                color: #fff;
                z-index: 999;
                position: absolute;
                padding: 20px;
                .content-collect{
                 h2{
                  font-family: $poppins;
                  float: right;
                  margin-top: 25rem;
                 }
                }
              }
            }
          }
        }
      }
    }
  }
}
