// import link
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import "animation.scss";


// variable color pallete

$primary: #242329;
$secondary: #F5C6A5;
$inputbackground: #302F37;
$common: #fff;

// $unk: #8d62b6;
// $unk2: #ff0808;


// variable fonts 
$poppins: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


@import "home.scss";
@import "kategory.scss";
@import "_detail-product.scss";
@import "vendor.scss";
@import "event.scss";
@import "_notfound.scss";